html, body{
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #1C1C1C;
    font-family: 'Ubuntu', sans-serif;
}

.main-container{
    width: 550px;
    height: 100vh;
    background-color: aliceblue;
}

header{
    margin: auto;
    width: 100%;
    height: 30%;
    background-image: url(/images/cinema.jpg);
    background-size: cover;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.upper-text{
    width: 33.125em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.45em auto 0;
    color: white;
}

.input-and-btn-container{
    
    display: flex;
    justify-content: center;
    margin-top: 4.8em;
}

input{
    width: 60%;
    border: 0.0625em solid rgb(46, 46, 46);
    border-top-left-radius: 0.4375em;
    border-bottom-left-radius: 0.4375em;
    padding: 0.4375em 0.625em;
    font-family: 'Ubuntu', sans-serif;
}

input[type="text"]:focus {
    outline-offset: 0px ! important;
    outline: none ! important;
    border : 0.0625em rgb(69, 69, 239) ! important;
    box-shadow : 0 0 0.1875em rgb(69, 69, 239) ! important;
    -moz-box-shadow : 0 0 0.1875em rgb(69, 69, 239) ! important;
    -webkit-box-shadow : 0 0 0.1875em rgb(69, 69, 239) ! important;
}



.search-btn{
    padding: 0.4375em 0.5em;
    border: 1px solid rgb(46, 46, 46);
    border-left: none;
    border-top-right-radius: 0.4375em;
    border-bottom-right-radius: 0.4375em;
    height: min-content;
    font-weight: bold;
    color: grey;
    font-family: 'Ubuntu', sans-serif;
}

.search-btn:hover{
    cursor: pointer;
    color: aliceblue;
    border: none;
    text-shadow: 0 0 0.125em rgb(69, 69, 239);
    box-shadow : 0 0 0.1875em rgb(69, 69, 239) ! important;
}

main{
    color: lightgrey;
    height: fit-content;
    margin-top: 15px;
}

.material-symbols-outlined{
    font-size: 4rem;
    margin-top: 35%;
    margin-bottom: 0;
}

main h3{
    margin-top: 0;
    font-size: 1rem;
}

.response-parent-container{
    background-color: aliceblue;
    padding: 5px 0;
}

.response-obj-container{
    width: 95%;
    color:rgb(46, 46, 46);
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px rgb(46, 46, 46);
}

.movie-poster{
    width: 80px;
    height: min-content;
}

.movie-info-container{
    width: 100%;
    text-align: start;
    margin: 5px;
}

.min-and-genre-container{
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 5px 0;
}

.movie-info-container h1{
    font-size: 1.5rem;
    margin: 0;
}

.movie-info-container p{
    font-size: 0.85rem;
    margin: 3px 0;
}

.min-and-genre-container p{
    margin-right: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
}

.add-movie-btn{
    font-weight: 550;
    border: none;
    box-shadow: 0px 0px 2px black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    line-height: 0;
    padding: 1px;
    padding-top: 2px;
    cursor: pointer;
    place-content: center;
}

.added-msg{
    display: none;
    position: fixed;
    width:fit-content;
    border-radius: 5px;
    padding: 7px 5px;
    background-color: white;
    margin: auto;
    margin-top: 160px;
    top: 0;
    right: 0;
    left: 0;
}
.not-fount-msg{
    display: none;
    position: fixed;
    width:fit-content;
    border-radius: 5px;
    padding: 7px 5px;
    background-color: white;
    margin: auto;
    margin-top: 160px;
    top: 0;
    right: 0;
    left: 0;
}